@page
@model IndexModel
@{
    ViewData["Title"] = "Ashton The Programmer";
}

    <video autoplay muted loop class="chill-animation">
        <source src="~/assets/websiteOpeningAnimation.mp4"/>
    </video>
<div class="container-fluid video-div" style="background-color: rgba(59,38,33, 1);">
    <div class="heading-over-animation">
        <header>
            <div class="row">
                <div class="col-xl-6"></div>
                <div class="col-xl-3">
                    <nav class="navbar box-shadow mb-3 text-center">
                        <div class="container justify-content-center">
                            <!-- <a class="navbar-brand" asp-area="" asp-page="/Index">Ashton <br /> The <br /> Programmer</a> -->
                            <a class="navbar-brand" asp-area="" asp-page="/Index"><p1>Williams<br />Art and Design</p1></a>
                        </div>
                        <hr style="border: 1px solid white; width: 100%;" />
                        <div class="container justify-content-center">
                            <div class="d-sm-inline-flex flex-sm-row-reverse">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link link-style" asp-area="" asp-fragment="WebService"><p1>Web Services</p1></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link link-style" asp-area="" asp-fragment="Stack"><p1>Web Stack and Rates</p1></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link link-style" asp-area="" asp-fragment="ArtAndDesign"><p1>Art and Design</p1></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link link-style" asp-area="" asp-fragment="ArtCommission"><p1>Art Commission</p1></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link link-style" asp-area="" asp-fragment="AboutMe"><p1>About Me</p1></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link link-style" asp-area="" asp-fragment="Contact"><p1>Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    
                    </nav>
                </div>
                <div class="col-xl-3"></div>
           </div>
        </header>
    </div>
</div>


<div class="divider-div">
    <h1 class="divider-header">
        WEB
    </h1>
</div>

<div class="row background-grey selection-div text-center" id="WebService">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="row m-3 align-items-center">
            <div class="col-lg-6">
                <h2 class="styled-header">
                    Web Services
                </h2>
                <p1 class="styled-paragraph">
                    Every business understands that having an internet presence is essential.<br />
                    All your potential customers use the internet, and its important to give them something to look at that will sell your service for you.<br />
                    Unlike many other services which use templates, Williams Design has the full capability to build your site from scratch, from database to frontend webpage, to your EXACT specifications and needs. <br />
                    Already have a web solution up but its not working for you? Contact Williams design, and we can consult with you to fix any service you are currently use to make it work better for you.
                </p1>
            </div>
            <div class="col-lg-6">
                <img class="img img-fluid" src="/assets/Girl on computer.jpg" />
            </div>
        </div>
    </div>
    <div class="col-1"></div>
    <div class=col-12>
        <div class="row align-items-center m-3 hover-white">
            <div class="col-lg-4 hollow-box">
                        <h2 class="styled-header">
                            Azure
                        </h2>
                        <p1 class="styled-paragraph">
                            As absolute Microsoft experts, we can not only bring your vision to light using the latest .NET frameworks, but we can setup and deploy to your own Azure services which will be optimised for cost based on the needs of your businesses.
                        </p1>
            </div>
    
                <div class="col-lg-4 hollow-box">
                            <h2 class="styled-header">
                                WordPress
                            </h2>
                            <p1 class="styled-paragraph">
                                Nearly 40% of all all websites in 2021, were built using WordPress. It is a reliable and time tested solution that is suitable for nearly any business requirement. Let us be the ones to build your WordPress solution to make sure you are getting the best out of the platform in cost and performance.
                            </p1>
                </div>
                <div class="col-lg-4 hollow-box">
                            <h2 class="styled-header">
                                AWS
                            </h2>
                            <p1 class="styled-paragraph">
                                Amazon Web Services supports a wide variety of frameworks and languages, all of which Williams Design can use for you. If you already have a framework in mind, or your current solution is already with Amazon Web Services, we can provide you the best options to support the niche requirements of your business.
                            </p1>
                </div>
            </div>
        </div>
</div>

<div class="row background-grey selection-div text-center" id="Stack">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="row m-3 align-items-center">
            <div class="col-lg-6">
                <img class="img img-fluid" src="/assets/Book Stack.png" />
            </div>
            <div class="col-lg-6">
                <h2 class="styled-header">
                    Stack
                </h2>
                <p1 class="styled-paragraph">
                    Williams Design is capable of using any languages or framework you may want for your solution, and can consult you on the pros and cons of many different frameworks. <br />
                    Spring Boot, .NET, Ruby on Rails? Nothing is off the table for your solution. Don't have a database and need one? We will build it for you using the database management system that meets your needs.<br />                    
                </p1>
                <hr style="height: 2px; background-color: white;" />
                <h2 class="styled-header">
                    Hourly Rates
                </h2>
                <p1 class="styled-paragraph">
                    Web Consultation and Design: 35$<br />
                    Solution building and implementation: 65$<br />
                    Image procurement and edit: $20<br />
                    Should you decide you would also like vector or digital art from Williams Design for your website, rates are <a class="" asp-area="" asp-fragment="ArtCommission"><p1>below</p1></a>.<br />
                </p1>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>

<div class="divider-div">
    <h1 class="divider-header">
        ART
    </h1>
</div>

<div class="row background-grey selection-div text-center" id="ArtAndDesign">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="row m-3 align-items-center">
            <div class="col-lg-4">
                <img class="img img-fluid" src="/assets/Flame_Guy_Squared.png" />
            </div>
            <div class="col-lg-4">
                <h2 class="styled-header">
                    Art and Design
                </h2>
                <p1 class="styled-paragraph">
                    With many tools and styles to offer, Williams Art certainly has art to suit any need. <br />
                    All images are provided in 8k png as standard, but can be provided in any format and size upon request at anytime.<br />
                    Additionally, any art can be animated should you be wanting something that is more dynamic or interactive.<br />
                </p1>
            </div>
            <div class="col-lg-4">
                <img class="img img-fluid" src="/assets/Art Pallete.png" />
            </div>
        </div>
    </div>
    <div class="col-1"></div>
    <div class=col-12>
        <div class="row align-items-center m-3 hover-white">
            <div class="col-lg-4 hollow-box">
                        <h2 class="styled-header">
                            Vector Art
                        </h2>
                        <p1 class="styled-paragraph">
                            Vector art is most commonly used for logos, icons, and merch designs. However it can be used for whatever purpose you wish, especially if you like the style that comes with the crisp lines and gradients that vectors offer.
                        </p1>
            </div>
    
                <div class="col-lg-4 hollow-box">
                            <h2 class="styled-header">
                                Photo Manipulation
                            </h2>
                            <p1 class="styled-paragraph">
                                Whether you want to take stock images and manipulate them to suit your own needs, or you have your own custom images and photos that you would like to be worked for your purpose, Williams Art can get you the look you are after.
                            </p1>
                </div>
                <div class="col-lg-4 hollow-box">
                            <h2 class="styled-header">
                                Digital Painting
                            </h2>
                            <p1 class="styled-paragraph">
                                Making up the majority of the images on this website, digital paintings are resemblant of traditional painting in look and style. They can be printed to any size on your preferred material and make amazing gifts.
                            </p1>
                </div>
            </div>
        </div>
</div>



<div class="row background-grey selection-div text-center" id="ArtCommission">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="row m-3 align-items-center">
            <div class="col-lg-6">
                <img class="img img-fluid" src="/assets/1 hour challenge 4.png" />
            </div>
            <div class="col-lg-6">
                <h2 class="styled-header">
                    Art Commissions
                </h2>
                <p1 class="styled-paragraph">
                    Williams Art is always accepting commission offers. Generally, commissions are charged at 35$ an hour, however bigger pieces that will take more time will usually see a reduced rate.<br />
                    We are always able to negotiate a flat rate for any piece you wish to see come to light. Time a piece takes varies greatly depending on the subject, background, style and detail you are wanting in the work.<br />
                    A 30% deposit is required based on the expected time of completion.<br /><br />
                </p1>
                <h2 class="styled-header">
                    Current Special: 1 hour portraits are $30 for a limited time
                </h2>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>

<div class="divider-div">
    <h1 class="divider-header">
        ABOUT ME
    </h1>
</div>

<div class="row background-grey selection-div text-center" id="AboutMe">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="row m-3 align-items-center">
            <div class="col-lg-6">
                <h2 class="styled-header">
                    About Me
                </h2>
                <p1 class="styled-paragraph">
                    For the last 5 years Ashton Williams has deticated himself to creating digital media. What started as a passion for modifying games, tweaking tech, and building things to show off this his friends, soon became a life long carrier goal.<br />
                    Not only does he strive to be the best at everything he does, but he has dedicated himself to learning all methodologies and tools used in the creation of digital media.<br />
                    No challenge is enough to stop him from getting the results he wants from the projects he puts his time and passion into. He will be the best teammate you ever had while you work to develop the solutions for your business.<br />
                </p1>
            </div>
            <div class="col-lg-6">
                <img class="img img-fluid" src="/assets/Self Port.jpg" />
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>

<div class="row background-grey selection-div text-center" id="Contact">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="row m-3 align-items-center">
            <div class="col-lg-6">
                <img class="img img-fluid" src="/assets/Vintage Phone.png" />
            </div>
            <div class="col-lg-6">
                <h2 class="styled-header">
                    Contact Me
                </h2>
                <h2 class="styled-header contact">
                    Phone: <a class="contact" href="tel:6788235980">678-823-5980</a><br />
                    Email: <a class="contact" href="ashtonwilliams1996@@gmail.com">ashtonwilliams1996@@gmail.com</a>
                </h2>
            </div>
        </div>
    </div>
    <div class="col-1"></div>
</div>

<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - MyWebsite - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
</footer>
