/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@font-face {
    font-family: MoonEarth;
    src: url('../assets/Moon Earth TTF.ttf');
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  color: white;
  font-family: MoonEarth;
  font-size: 50px;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: none;
    border-color: none;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: black;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.chill-animation {
    height: 100%;
    width: 100%;
    min-height: 1000px;
    right: 0;
    bottom: 0;
    object-fit: cover;
    z-index:1;
}

.heading-over-animation {
    width: 100%;
    right: 0;
}

.video-div {
    min-height: 1000px;
    height: max-content;
    overflow: hidden;
    z-index: 2;
    margin-top: -1000px;
}

.link-style {
    font-family: MoonEarth;
    font-size: 15px;
    color: white;
}

.background-grey {
    background-image: url("../assets/Background.png");
    background-size: cover;
}

.selection-div {
    
}

.styled-header {
    font-family: MoonEarth;
    font-size: 30px;
    color: white;
}

.styled-paragraph {
    font-family: MoonEarth;
    font-size: 15px;
    color: white;
}

.hr-style {
    background-color: rgba(59,38,33);
    margin: 0px;
    margin-left: 80px;
    margin-right: 80px;
    border: 0px;
    padding: 0px;
    height: 0px;
    border-radius: 5px;
}

img {
    box-shadow: rgba(0,0,0,.2)10px 10px;
}